node_modules/
.git/
.github/
.nitro/
.output/
.vscode/
data/
.env*
.eslintcache
tests/
certs/
install/
benchmark.ts
docker-compose.yml
vitest.config.ts
prettier.config.js
eslint.config.js
README.md
LICENSE