{{- if eq (include "github-actions-cache-server.pvcEnabled" .) "true" -}}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "github-actions-cache-server.pvcName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "github-actions-cache-server.labels" . | nindent 4 }}
    {{- with .Values.persistentVolumeClaim.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.persistentVolumeClaim.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  accessModes:
    {{- include "github-actions-cache-server.pvcAccessModes" . | nindent 4 }}
  resources:
    requests:
      storage: {{ .Values.persistentVolumeClaim.storage }}
  volumeMode: Filesystem
  {{- if .Values.persistentVolumeClaim.storageClassName }}
  storageClassName: {{ .Values.persistentVolumeClaim.storageClassName }}
  {{- end }}
{{- end }}
