apiVersion: v1
kind: Service
metadata:
  name: {{ include "github-actions-cache-server.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "github-actions-cache-server.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: cache
      protocol: TCP
      name: cache
  selector:
    {{- include "github-actions-cache-server.selectorLabels" . | nindent 4 }}
